body {
  color: #666666;
}
.section-styling {
  padding: 10px 0;
  margin-bottom: 10px;
}

#weather {
  margin-top: 20px;
}

#weather p {
  margin: 0;
  font-size: 14px;
}

.shadow {
  box-shadow: 0 8px 6px -3px lightgray;
}

.quote-styling {
  text-align: center;
  font-style: italic;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-caption h3 {
  color: black;
}
.carousel-caption p {
  color: #333333;
}

.carousel-item img {
  height: 500px;
  max-height: 500px;
}
hr {
  margin: 0;
}

#author {
  font-weight: 200;
  color: #999999;
}
.btn {
  margin: 20px 0;
}
