body {
  color: #666666;
}
.section-styling {
  padding: 10px 0;
  margin-bottom: 10px;
}

#weather p {
  margin: 0;
  font-size: 14px;
}

#shadow {
  box-shadow: 0 8px 6px -3px lightgray;
}

.quote-styling {
  text-align: center;
  font-style: italic;
}

#author {
  font-weight: 200;
  color: #999999;
}
.btn {
  margin: 20px 0;
}
